@{
    ViewData["Title"] = "Начало";
}

<div class="home-container">
    <div class="hero">
        <h1>Stelly's Cake 🎂</h1>
        <p>Създаваме сладки моменти с любов и вкус</p>
    </div>

    <div class="features">
        <a asp-controller="Products" asp-action="Index" asp-route-categoryId=2>
            <div class="feature-card">
                <h3>Класически торти</h3>
            </div>
        </a>        
        <a asp-controller="Products" asp-action="Index" asp-route-categoryId=3>
            <div class="feature-card">
                <h3>Торти за повод</h3>
            </div>
        </a>        
        <a asp-controller="Products" asp-action="Index" asp-route-categoryId=4>
            <div class="feature-card">
                <h3>Без глутен</h3>
            </div>
        </a>        
    </div>
</div>